{% extends "layout.html" %}
{% block title %}TernUp Inc.{% endblock %}
{% block page %}Apply{% endblock %}

{{ super() }}

{% block user_routes %}
<li class="nav-item">
    <a class="nav-link active" href="/apply">Apply</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/applications">My Applications</a>
</li>
{% endblock %}

{% block content %}
<h1>Apply</h1>
{% if is_authenticated %}
<p> Welcome {{current_user.username}} </p>
{% endif %}
<p>Fill out the form below to apply for a job at TernUp Inc.</p>
{% endblock %}
